[Desktop entry]
Name=Discord Unspy
GenericName=Discord
Version=5.0.0b2
Comment=The Discord client with a built-in tracker blocker
Encoding=UTF-8
Type=Application
Exec=/home/.../discord-desktop/Discord.sh
